body, html {
    height: 100%;
    margin: 0;
}
.bg{
 background-image: url(neven-krcmarek-246988-unsplash.jpg);
 background-size: cover;
  background-repeat: no-repeat;
 background-position: center;
   /* Full height */
    height: 100%; 
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
}
.header{
border-bottom: 4px solid green;
font-family: 'Nanum Gothic Coding', monospace;
font-weight: bold;
 font-size: 50px;
 color: green;
}
/* .btn-success{ */
/* align-self:center; */
/* } */